# Entorno
.env
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/
*.egg

# Base de datos
*.db
*.db-journal
*.db-wal
*.db-shm
!Esquema Relacional Global_David.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml

# PyInstaller
*.spec

# Logs
*.log
